html,
body {
  height: 100%;
}
body {
  display: grid;
  grid-template-areas:
    "header main main"
    "sidebar main main"
    "sidebar main main";
  grid-template-rows: 1fr 12fr;
  grid-template-columns: 1fr 2fr 2fr;
  background-color: var(--bs-secondary-bg);
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#sidebar > * {
  margin: 1rem 0;
}

#main-content {
  grid-area: main;
  background-color: var(--bs-tertiary-bg);
}

.accordion-body label:hover,
.list-group label:hover,
.list-group input:hover {
  cursor: pointer;
}

.card {
  width: 30rem;
  padding: 0;
  overflow: auto;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card li {
  display: flex;
}

.hide {
  display: none;
  margin-left: auto;
  border: none;
  padding: 0;
  background-color: inherit;
  /* change color? */
  color: inherit;
}

li:hover .hide {
  display: inline;
}

/* .description {
  font-size: 0.8rem;
  margin-left: 2rem;
  color: #ffc107;
}

.date {
  font-size: 0.8rem;
  margin-left: 2.2rem;
  color: #ffc107;
  width: fit-content;
  border: 1px solid darkgoldenrod;
  border-radius: 100px;
  padding: 0 1rem;
} */
