html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "header main main"
    "sidebar main main"
    "sidebar main main";
  grid-template-rows: 1fr 12fr;
  grid-template-columns: 1fr 3fr 3fr;
  background-color: var(--bs-secondary-bg);
}

header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#sidebar > * {
  margin: 1rem 0;
}

#main-content {
  grid-area: main;
  background-color: var(--bs-tertiary-bg);
}

.accordion-body label:hover,
.list-group label:hover,
.list-group input:hover {
  cursor: pointer;
}

.card {
  width: 27rem;
  padding: 0;
  overflow: auto;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

h5 {
  margin: 0;
}

.card-header,
.card-li-container {
  display: flex;
}

.list-dropdown,
.task-delete-btn {
  display: none;
  margin-left: auto;
  border: none;
  padding: 0;
  background-color: inherit;
  color: inherit;
}

.list-dropdown {
  background-color: initial;
  height: 0;
}

.list-dropdown {
  display: inline;
}

li:hover .task-delete-btn {
  display: inline;
}

.list-dropdown-btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: transparent;
}

.description {
  font-size: 0.9rem;
  margin-left: 1.6rem;
  opacity: 0.7;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 0.9rem;
  width: fit-content;
  margin-left: 1.5rem;
  margin-top: 3px;
  padding: 0px 10px;
  border: 1px solid var(--bs-border-color);
  border-radius: 1rem;
  background-color: var(--bs-tertiary-bg);
  opacity: 0.9;
}
